body {
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(144, 204, 60, 0.294);
    background-image: url('../img/fondo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    font-family:Arial, Helvetica, sans-serif ;
    color:red;
    text-decoration: none;
}

.ir-arriba {
    color: brown;
}

h1 {
    text-align: center;
}

#logo {
    width: 150px;
}

#logo {
    width: 200px;
}

.imagen-uv{
    width: 200px;
}

p{
    text-align: justify;
}

.fuente-verde{
    color: cadetblue;
}

.negrita {
    font-weight: bold;
}

p span{
    font-size: 30px;
}